<div class="sticky-top">
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">This is a webpage of Quotes. You can find here some of the best quotes in the world and
            if you find any missing you can add yours.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container-fluid d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Quotes</strong>
      </a>
      <button class="btn btn-outline-primary my-2 my-sm-0" (click)="toggle()" >Post Quote</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
      aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
</header>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Quote Of The Day</h1>
    <p class="lead text-muted">Because of your smile, you make life more beautiful</p>
    <small class="text-muted">Thick Nhat Hanh</small>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q1.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Making mistakes is better than faking perfection</p>
              <div class="d-flex justify-content-between mb-3">
                <div class="btn-group voting">
                  <a href="" class="btn p-2">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="btn p-2">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted ml-auto p-2" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Chandan Das</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q2.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0 text-wrap">
              <p class="card-text">It is better to end something and start another than to imprison yourself in hoping
                for the impossible</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">10 mins</small>
              </div>
              <footer class="blockquote-footer">Abefra Anwar</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q3.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">We live in the world when we love it.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">29 mins</small>
              </div>
              <footer class="blockquote-footer">Rabindranth Tagore</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q4.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">You never have to chase what wants to stay.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Anonymous</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q5.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">We are afraid of not knowing what comes next, and so we make our lives predictable.
                Don't be afraid of what comes next. You'll be okay.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Anonymous</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q6.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Soon, when all is well you're going to look back on this period of your life, and be
                glad that you didn't give up.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Brittany Burgunder</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q7.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Things never happen the same way twice.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">C. S. Lewis</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q8.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Sometimes it's easier to say you don't care than to explain all the reasons why you do.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Sex and the city</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q9.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">We must be willing to let go of the life we have planned, so as to have the life that is waiting for us.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">E. M. Forster</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q10.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Old minds are like old horses; you must exercise tham if you wish to keep them in working order.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">John Adams</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q11.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Fear is the foundation of most governments</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">John Adams</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q12.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Change your life today. Don't gamble on the future, act now, without delay.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Simon de Beauvoir</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q11.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Most people have the will to win, few have the will to prepare to win.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Bobby Knight</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q14.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Oaths are but words and words are but wind.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Samuel Butler</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q15.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">You will never find the time for anything. If you want time, you must make it.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Charles Burton</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q16.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Be true to your work, your word, and your friend.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">John Boyle O'Reilly</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q17.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">It's hard to be humble, when you're as great as I am.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Muhammad Ali</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q18.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">There is a role and function for beauty in our time.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Tadao Ando</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q19.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">It's ok to show all your colors.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Luiz Guzman</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q20.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">To love for the sake of being loved is human, but to love for the sake of loving is angelic.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Alphone de Lamartine</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q21.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">One is loved because one is loved. No reason is needed for loving.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Paulo Coelho</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q22.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">The true art of memory is the art of attention.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Samuel Johnson</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q23.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Everything has its wonders, even darknes and silence. I learn, whatever state I may be in, therein to be content.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Helen Keller</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q24.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Bachelors know more about women than married men; if they didn't they'd be married too.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">H. L. Mencken</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q25.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">If 'pro' is the opposite of 'con' what is the opposite of 'progr</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Paul Harvey</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q26.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Infuse your life with action. Don't wait for it to happen. Make it happen. Make your own future. Make your own hope.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Bradley Whitford</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q27.jpg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Never regret yesterday. Life is in you today and you make your tomorrow.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">L. ron Hubbard</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q28.png" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">I have learned that friendship isn't about who you've known the longest. It's about who came and never left your side.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Anonymous</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q29.jpeg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">Share your smile with the world. It's a symbol of friendship and peace.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Christie Brinkley</footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Quote
          </div>
          <img src="assets/img/q30.jpeg" class="card-img-top">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="card-text">a friend is someone who gives you tatal freedom to be yourself.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group voting">
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/upvote.png " alt="Upvote" width="40" height="40">
                    <pre class="">50</pre>
                  </a>
                  <a href="" class="navbar-brand btn">
                    <img src="../../assets/img/downvote.png" alt="Downvote" width="30" height="30">
                    <pre>40</pre>
                  </a>
                </div>
                <small class="text-muted" id="posted">9 mins</small>
              </div>
              <footer class="blockquote-footer">Jim Morrison</footer>
            </blockquote>
          </div>
        </div>
      </div>

    </div>
  </div>